header h1 a {
    font-size: 64px;
    padding-left: 104px;
    color: #4B4B4B;
    text-decoration: none;
}

header ul {
    margin: 0px;
    display: flex;
    justify-content: center;

}

header ul li {
    display: inline;
    font-size: 24px;
    padding-right: 55px;
    
}

header ul li a {
    font-family: roboto;
    font-weight: 500;
    text-decoration: none;
    color: rgba(75, 75, 75, 0.5);   
}

header ul li :hover {
    color: #4B4B4B;
}

.selected {
    color: #4B4B4B;
}

.products {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 86px 0px 0px 47px;
}

.box {
    margin-bottom: 129px;
    margin-right: 57px;
    width: 366px;
    height: 420px;
    background-color: #FAF4EF;
    border-radius: 0px 0px 0px 50px;
}

.box h3 {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    padding: 43px 43px 0px 43px;
    margin: 0px;
    color: #4B4B4B;
}

.box p {
    font-family: 'DM Serif Display';
    font-weight: 400px;
    font-size: 24px;
    padding: 14px 0px 0px 43px;
    margin: 0px;
    color: #737373;
}

.box img {
    padding: 69px 67px 0px 30px;
    width: 299px;
    height: 299px;
}

#img1 {
    width: 231.13px;
    padding: 59px 67px 53px 57px;
}

#img2 {
    width: 299px;
    height: 299px;
}

#img3 {
    width: 329px;
    height: 329px;
}

#img4 {
    width: 340px;
    height: 340px;
    padding: 27px 0px 0px 10px;
}

#img5 {
    width: 333px;
    height: 205px;
    padding: 94px 0px 0px 25px;
}

#img6 {
    width: 327px;
    height: 261px;
    padding: 82px 67px 0px 30px;
}