* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B2B2B;
}

header { 
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.title img {
    width: 32px;
    height: 32px;
    padding-left: 50px;
    padding-right: 12px;
}

.navbar {
    width: 607px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.signup-btn {
    margin-right: 50px;
    border: 1px solid #A259FF;
    background-color: #A259FF;
    border-radius: 20px;
    width: 152px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-btn a {
    padding-left: 12px;
}

main {
    width: 100%;
    height: 691px;
    display: flex;
    justify-content: space-between;
}

.main-image {
    width: 610px;
    height: 691px;
}

.create-account {
    width: 610px;
    height: 571px;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
}

.create-account h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 51px;
    color: white;
}

.create-account p {
    width: 460px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: white;
}

.create-account form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 305px;
}

form div {
    display: flex;
    align-items: center;
    width: 330px;
    height: 46px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: white;
}

form div img {
    padding-left: 20px;
    padding-right: 12px;
}

.create-account input {
    width: 330px;
    height: 46px;
    border-radius: 20px;
    /* margin: 16px 20px; */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border: none;
}

::placeholder {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.create-account button {
    width: 330px;
    height: 46px;
    border-radius: 20px;
    background-color: #A259FF;
    color: white;
    /* margin: 16px 20px; */
}

footer {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    background-color: #3B3B3B;

}

.footer-content {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-title {
    display: flex;
}

.footer-title h1 {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    color: white;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 327.41px;
    height: 191px;
}

.box1 p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #CCCCCC;
}


.explore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 166px;
    margin-bottom: 30px;
}

.explore h5 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}

.explore a {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #CCCCCC;
    text-decoration: none;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    height: 184px;
}

.newsletter h1 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}

.newsletter p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #CCCCCC;
}

.newsletter-input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 420px;
    height: 60px;
}

.newsletter-input input {
    width: 420px;
    height: 60px;
    border-radius: 20px;
}

.newsletter-input button {
    border-radius: 20px;
    width: 179px;
    height: 60px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background-color: #A259FF;
    color: white;
}

hr {
    margin-top: 33.5px;
    margin-right: 48.29px;
    margin-left: 48.29px;
    color: #858584;
    opacity: 0.5
}

#trademark {
    margin-top: 20px;
    margin-left: 115.29px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #CCCCCC;
}